section#apply-section {
    width: 100%;
    /*display:inline-block;*/

}

form {
    width: 80%;
    background-color: rgb(55, 55, 55);
    color: #f7b84f;
    font-size: 1.2em;
    margin-left: 5%;
    border: 1px ridge #d39d43;
    border-radius: 10px;
    display: inline-block;
    padding-left: 3%;
}

fieldset {
    width: 40%;
    border: none;
    float: left;
    margin-top: 5%;
    padding: 3%;
}

form div#important-fields {
    font-size: 0.7em;

}

fieldset#important-info {
    border-right: 1px solid rgba(211, 157, 67, 0.5);
}

fieldset#non-important-info:after {
    display: block;
    clear: both;
    content: '';
    zoom: 1;
}

fieldset div {
    margin-bottom: 5%;
}

input, select, textarea {
    border-radius: 5px;
    display: block;
    padding: 2%;
    border: none;
    margin-top: 5%;
}

div#input-color {
    width: 100%;
}

select {
    width: 50%;
}

div.input-number-group input {
    width: 40%;
}

#teamwork {
    color: darkgray;
}

option {
    color: black;
}

#teamwork option:disabled {
    color: darkgray;
}

select > option:first-child {
    color: grey;
}

#buttons-input {
    display: inline-block;
    padding: 5% 5% 5% 5%;
    margin: 5% 5% 5% 15%;
    background-color: rgba(211, 157, 67, 0.5);
    border-radius: 10px;

}

#buttons-input input {
    color: #373737;
    background-color: #d39d43;
    border: 3px solid #373737;
    width: 200px;
    height: 40px;
}

#buttons-input input[type='reset'] {
    float: left;
}

@media only screen and (max-width: 1024px) {
    form {
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width: 960px) {
    form {
        width: 60%;
        height: auto;
        padding-right: 0;

    }

    fieldset#important-info {
        width: 100%;
        border: none;
        margtin-left: 10%;
        margin-right: 10%;
    }

    #buttons-input {
        margin-right: 30%;
        padding-right: 0;

    }

    select, input, textarea {
        font-size: 1.2em;
    }

    label {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    form {
        width: 70%;
        height: auto;
        margin-left: 10%;
    }

    fieldset#important-info {
        width: 100%;
        border: none;
    }

    #buttons-input {
        margin-right: 22%;
        padding-right: 0;

    }
}

@media screen and (max-width: 640px) {
    form {
        width: 90%;
        height: auto;
    }

    fieldset#important-info {
        width: 120%;
        border: none;
    }

    #buttons-input {
        margin-right: 22%;
        padding-right: 2%;

    }
}

@media screen and (max-width: 480px) {
    form {
        width: 100%;
        height: auto;
        padding-left: 1%;
        padding-right: 2%;
        margin-left: 2%;
    }

    fieldset {
        width: 100%;
        border: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    label, div#important-fields > p {
        font-size: 1.2em;
    }

    #buttons-input {
        margin-right: 1%;
        padding-right: 3%;
        margin-left: 1%;

    }

    select, input, textarea {
        font-size: 0.7em;
    }

    label {
        font-size: 1em
    }
}

@media screen and (max-width: 320px) {
    form {
        width: 90%;
        height: auto;
        position: absolute;
        margin-top: 3%;
    }

    fieldset {
        padding-right: 100%;
        padding-left: 0;
        background-color: rgb(55, 55, 55);
        border: transparent;
    }

    select, input, textarea {
        font-size: 0.9em;
    }

    label {
        font-size: 1.2em;
    }

    #buttons-input {
        margin-left: 5%;
        padding-right: 1%;
    }

}

