h1{
	text-align: center;
}
h2{
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 15px;
}
h3{
	text-align: center;
}
p{

}
img{
	float: left;
	padding-right: 50px;
	padding-left: 15px;
}
#text:after {
   content: ""; 
   display: block; 
   clear: both; 
   height: 0; 
}