
h1 {
    text-align: center;
}

h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 15px;
}

h3 {
    text-align: center;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.imag {
    float: left;
    padding-right: 50px;
    padding-left: 15px;
}

.imag:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

#text:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

#main {
    background-image: url(../images/papir.gif);
    font-family: myfont;
}