*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MagicSchool;
    src:url('../fonts/MagicSchoolTwo.ttf');
}

img { max-width:100%; }


body{
    background-image: url("../images/bg.jpg");
}
#wrapper{
    width: 960px;
    margin:0 auto;
    margin-top:20px;
}
#wrapper>header{
    width: 100%;
    background: #f8b94f;
    height: 200px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: solid 3px #2f8900;
    border-bottom:none;
    box-shadow: 1px 4px 41px;
    box-sizing: border-box;
}

#wrapper>header>h1 {
    font-family:MagicSchool;
   position:absolute;
    right:20%;
    top:10%;
    font-size:3em;
    text-shadow:2px 2px 27px green;
}

#wrapper>header::after{
    display: block;
    content:"";
    zoom:1;
    clear:both;
}
#wrapper>header>img{
    margin-top:20px;
    margin-left:20px;
    width:150px;
    border-top-left-radius: 30px;
    border:solid 1px #00923e;
    box-shadow: 0px 4px 24px;
}

/*Nav-Menu*/
.nav{
    width: 100%;
    margin: 0 auto;
    background: #373737;
    position: relative;

}
.menu{
    width: 100%;
    perspective: 700px;
    -webkit-perspective: 700px;
    box-sizing: border-box;
}
.menu li{
    display: inline-block;
    list-style: none;
}
.menu li a{
    color: #fff;
    line-height: 39px;
    padding: 11px 20px;
    font-family: calibri;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    z-index: 1;
    border-right: 2px dotted rgb(255, 185, 86);


}

.menu li a:hover:before{
    content: "";
    background: #f5f5f5;
    width: 100%;
    color: #373737;
    height: 39px;
    position: absolute;
    z-index: -1;
}

.menu li a:hover{
    color: #373737;
}
.menu li a:before{
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: height 0.4s 0s;
    -moz-transition: height 0.4s 0s;
    -ms-transition: height 0.4s 0s;
    -o-transition: height 0.4s 0s;
    transition: height 0.4s 0s;
}
#wrapper > header > div > ul > li:nth-child(8) > a{
    border-right: none;
}
.submenu{
    position: absolute;
    min-height: 50px;
    background: #f7b84f;
    width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(.34,.06,.5,.75);
    -webkit-transition: all 0.4s cubic-bezier(.34,.06,.5,.75);
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    opacity: 0;
    -webkit-perspective: -150px; /* Chrome, Safari, Opera  */
    perspective: -150px;
}
.menu li:hover ul{
    opacity: 1;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}
.submenu li a{
    color: #373737;
    line-height: 30px;
    display: block;
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
}
.submenu li a:before{
    content: "";
    display: none;
}
.submenu li a:hover{
    background: #ccc;

}

main {
    padding-top:60px;
    background-color: rgba(255, 255, 255, 0.58);
    width:100%;
    border:solid #2f8900 3px;
    box-sizing: border-box;
    box-shadow: 1px 4px 41px #000000;

}

main>header>h1 {
    color: #0112fe;
    margin-left:30px;
}


#welcome{

   float: left;
    width: 59%;
    height: 100%;
    border: solid 1px rgba(191, 210, 214, 0.66);
    background-color: rgba(255, 255, 255, 0.87);
    margin: 5px 10px 10px 20px;
    padding: 10px;
    box-shadow: 2px 2px 6px;

}
#welcome>h2{
    display: inline-block;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 10px;
}
#welcome>img{
    float: left;
}
#welcome>p{
    float: left;
    margin-left: 10px;
    width: 70%;

}

div#wrapper>footer {
    background-color: #373737;
    color: #fdfdfe;
    height: 200px;
}
#fb {
    width: 75px;
    height: 70px;
    background: url("../images/sprite-png.png") 262px 196px;
    display: inline-flex;
}
#googleplus {
    width: 75px;
    height: 70px;
    background: url("../images/sprite-png.png") 257px 67px;
    display: inline-flex;
}
#twitter {
    width: 75px;
    height: 70px;
    background: url("../images/sprite-png.png") 255px 324px;
    display: inline-flex;
}
#footer-left{
    width: 400px;
    height: 150px;
    margin: 10px;
    padding:10px;
    float: left;
    border-right: groove 5px rgba(119, 119, 119, 0.76);

}
#footer-right{
    width: 400px;
    height: 150px;
    margin: 10px;
    padding:0 10px 10px 10px;
    float: right;

}

aside{
    margin-left: 20px;
    width: 250px;
    display: inline-block;
    padding: 5px;
    background-color: white;
    border:solid 1px gray;
    box-shadow: 2px 2px 6px;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
}
aside>ul{
 margin-left: 30px;
}
aside>ul>li>a:hover{
    font-size: 20px;
    color:orange;

}
#most-showed-news{
    padding: 5px;
    background-color: white;
    margin: 50px 25px 0 20px;
    border:solid 1px gray;
    box-shadow: 2px 2px 6px;
}
#newest-news{
    padding: 5px;
    background-color: white;
    margin: 15px 25px 20px 20px;
    border:solid 1px gray;
    box-shadow: 2px 2px 6px;
}
#most-viewed-videos{
    padding: 5px;
    background-color: white;
    margin: 15px 25px 20px 20px;
    border:solid 1px gray;
    box-shadow: 2px 2px 6px;
}
figure>video{
    margin: 10px 20px 10px 20px;
}
#most-showed-news>h2{
    padding: 0 0 0 10px;
}
#most-viewed-videos>h2{
    padding: 0 0 0 10px;
}
#newest-news>h2{
    padding: 0 0 0 10px;
}

section.section-news>article{
    width:100%;
    height: 270px;
    background-color: white;
    display: inline-block;

}
.inner{
    width: 47%;
    height: 90%;
    border-left: ridge 2px gray;
    box-shadow: 0 1px 5px;
    display: inline-block;
    margin: 10px;
}
.inner>header{
   position: absolute;
    font-size: 18px;
}
.inner>header>a{
    margin: 5px;
}
.inner>figure{
    position: absolute;
    float: left;
    height: auto;
}
.inner>figure>div{

    margin: 25px 0 0 10px;
}
#most-showed-news .inner>figure>div>span{

    background-color: orange;
    border-radius: 5px;
    color: #ffffff;
    padding: 1px 3px 1px 3px;
}
#most-viewed-videos .inner>figure>div>span{

    background-color: #0112ff;
    border-radius: 5px;
    color: #ffffff;
    padding: 1px 3px 1px 3px;
}
#most-viewed-videos .inner{
    width: 47%;
    height: 110%;
    border-left: ridge 2px gray;
    box-shadow: 0 1px 5px;
    display: inline-block;
    margin: 6px;
}
#newest-news .inner>figure>div>span{

    background-color: #373737;
    border-radius: 5px;
    color: #ffffff;
    padding: 1px 3px 1px 3px;
}
.inner>figure>img{
    margin: 2px 5px 2px 5px;
    display: inline-block;
}
.lead-article{
    width: 200px;
    height: 185px;
    display: inline-block;
    font-style: italic;
    vertical-align: top;
}

div#wrapper>footer>section>img {
    width:180px;
}

#wrapper>footer>section>img {
    width:180px;
}

@media only screen and (max-width: 1024px){
    #wrapper{
        max-width: 100%;
    }

    #wrapper>header>h1 {
        position:absolute;
        right:5%;
        font-size:2em;
    }
}

@media only screen and (max-width: 960px){
#wrapper{
    max-width: 100%;
}

}

@media only screen and (max-width: 768px){
    #wrapper{
        max-width: 100%;
    }

}

@media only screen and (max-width: 640px){
    #wrapper{
        max-width: 100%;
    }

}
@media only screen and (max-width: 480px){
    #wrapper{
        max-width: 100%;
    }

}
@media only screen and (max-width: 320px){
    #wrapper{
        max-width: 100%;
    }

}