main {
    padding:30px;
    color:#0b488b;
}

main>header>h1 {
    text-align:left;
    font-size:2em;
}
section {
    display:inline-block;
}

article {
    display:inline-block;
    width:40%;
    margin:1%;
    float:left;
}

p {
    text-align:justify;
}