body {
    font-family: Arial, sans-serif;

}
main header h1 {
    color: burlywood;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
}
p {
    text-indent: 20px;
    font-size: 1.2rem;
    color: black;
}

main>section>ul {
    padding: 2rem;

}
    main>section>ul>li {
        padding: 0.4rem;
        font-size: 1.7rem;
        color: darkslategrey;
    }
.educ-gif {
    width: 400px;
    margin: 5px auto;
}

